doctype html
html(lang="en")
  head
    title beepboop
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/css/app.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  body
  
  div(ui-view="header")
        
  div(ui-view="content")
  

  footer
    script(src='/js/app.js')
