// ==========================================================================
// Main
// ==========================================================================

body {
  background:$var-white;
}
h1, h3 {
  font-family: $open-sans;
}

p {
  font-family: $lato;
}

a { color:$var-white; }

/* .perfect-full-size-bg {
  background:url('/images/bg.png') no-repeat center center fixed;

} */

.hero {
  float:left;
  clear:both;
  margin-top:3.9em;
  text-align: center;
  width:100%;
  background:url('../assets/images/hero.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:400px;
  padding: 0 1em;
  .get-started {
    display: block;
    margin: 30px auto;
    a {
      font-family:$lato;
      font-size:25px;
      padding: 15px 50px;
    }
  }
  h1 {
    color:$var-white;
    font-family:$lato;
    font-weight:300;
    font-size: 50px;
    text-align: center;
    margin:100px auto 0;
  }
}

.featured-widgets {
  text-align:center;
  width:100%;
  margin:20px auto;
  display: block;
  float:left;
  padding:0 5%;
  h1 {
    font-family:$lato;
    font-weight:500;
    letter-spacing:2px;
    font-size: 30px;
    color:$alt-purple;
    margin-bottom:1em;
  }
  .widget {
    background-size:cover;
    height:300px;
    display:block;
  }
}

.info-bit {
  text-align: center;
  background:$light-grey;
  padding:2em 0;
  float:left;
  width:100%;
  .logos {
    width: 750px;
    margin:0 auto;
  }
  h1 {
    font-family:$lato;
    font-weight:500;
    letter-spacing:2px;
    font-size: 40px;
    color:$var-purple;
  }
  h2 {
    font-family:$lato;
    font-weight:500;
    letter-spacing:2px;
    font-size: 25px;
    color:$light-purple;
  }
}




// login page

.login {
  display: block;
  float: left;
  clear: both;
  width:100%;
  text-align: center;
  margin: 100px auto 0;
  h1 {
    color:$alt-purple;
    font-family:$lato;
    margin-bottom:1em;
  }
  form {
    width:350px;
    margin:0 auto;
  }
  input[type="submit"] {
    border:none;
    width:100%;
  }
  input[type="text"] {
    display:block;
    margin:0 auto;
    width:100%;
    padding:1em 10px;
  }
}

//dashboard

.sidebar {
  background:$var-purple;
  position:fixed;
  left:0;
  height:100%;
  width:180px;
  padding:1em;
  font-family:$lato;
  @extend %list-reset;
  h2 {
    color:$alt-purple;
    font-family:$lato;
    margin-bottom:1em;
  }
  img.logo {
    margin-left: 10px;
  }
  li.separate {
    margin-top:2em;
  }
  ul {
    margin-top:2em;
    ul li a {
      font-size:15px;
    }
  }
}
.dashboard-content {
  margin-left:200px;
}



quote {
  margin:15px 0;
  width:100%;
  background:$light-purple;
  display:block;
  padding:1em;
  font-family:$source;
  color:$var-black;
}

.content [class*='column-'] {
  background:$light-purple;
  text-align: center;
  border: 1px solid $var-white;
  color:$var-grey;
  padding:30px 0;
  .wrapper {
    margin: 0 auto;
  }
  a {
    color:$var-grey;
  }
}

.col [class*='column-'] input {
  @include placeholder {
    color: $var-grey;
  }
}

.syntaxhighlighter {
  z-index:-1;
}

.huger {
  font-size:$fsz-huge;
}


.testing { padding:10em 0; clear:both;}

.main {
  background:$off-white;
  /* background:url('http://giant.gfycat.com/TimelySlowHornedviper.gif'); */
  /* background: url('http://giant.gfycat.com/ReadyEntireBarasingha.gif'); */
  background-size:cover;
  width:100%;
  margin-top: 75px;
  color:$var-black;
  .wrapper {
    margin: 1.5em auto 0;
    padding: 12em 10%;
    p {
      margin:0 auto 2em;
    }
  }
  .column-5 {
    clear: both;
    display: block;
    float: left;
    margin: 40px 0 0;
  }
  [class*='column-'] {
    @extend %reset;
  }
  @include mobile {
    padding:0 1em;
  }
}

.content {
  z-index:-1;
  margin-top:130px;
  section {
    padding-top: 50px;
    float: left;
    clear: both;
    padding-left:10%;
    padding-right:10%;
    h3 {
      margin-top:1.5em;
    }

    &:first-child {
      padding-top:0;
    }
    @include mobile {
      width: 100%;
    }
    p { margin-top:30px;
      span {
        background:$light-purple;
        color:$var-red;
        padding:1px 5px;
      }
    }
  }
}
