// ==========================================================================
// Color Config
// ==========================================================================


// general

$var-black: #000;
$var-blue: #495B7E;
$var-white: #fff;
$var-red: #ca2026;
$var-yellow: #ffd850;

$var-pink: #eb2048;
$var-green: #00bf8f;
$var-orange: #ff9e04;
$var-grey: #a6a6a6;
$transparent: rgba(248, 209, 72, 0);

$light-purple: #F5F5FF;
$light-blue: #588bcd;
$light-brown: #c89863;
$lighter-brown: #f8d688;
$light-grey: #efefef;
$lighter-grey: #FBFBFB;
$light-green: #E3FFE6;
$light-orange: #f8d148;


// beep boop colors
$var-purple: #552b72;
$light-purple: #734C8E;
$lighter-purple: #9575AB;
$alt-purple: #3A1355;
$op-purple: rgba(85, 43, 114, 0.65);


$two-orange: #f8d148;
$off-white: #f4f6f8;
