// ==========================================================================
// Respnsive/Mobile
// Author: Mike Fortuna
// ==========================================================================

@media #{$mobile} {

  @if $full-width-mobile == true {
    @for $i from 1 through $grid-columns {
      .column-#{$i} {
        width: 100%;
      }
    }
  }

  .hide-mobile, .hide-mobile-inline {
    display:none;
  }

  .info-bit .logos {
    width: auto;
  }

  .featured-widgets .widget {
    width:100%;
    margin:1em auto;
  }

  .header {
    text-align: center;
    .center {
      display:none;
    }
  }
  .hero {
    h1 {
      margin:20px auto 0;
    }
  }

  body.login {
    background-image:none;
  }

  .login-form, .register {
    width: 90%;
    display: block;
    clear: both;
    float: none;
  }
  .login-wrapper {
    margin:90px auto;
  }

  .register {
    margin-top:2em;
  }

  .login-wrapper, .outer-wrapper {
    width: 100%;
    padding: 1em;
  }

  .login-form .login-inner, .register .register-inner {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .or {display:none; }

}

@media #{$mobile-portrait} {

}

@media #{$mobile-landscape} {

}
