// ==========================================================================
// Respnsive/Mobile
// Author: Mike Fortuna
// ==========================================================================

@media #{$mobile} {

  @if $full-width-mobile == true {
    @for $i from 1 through $grid-columns {
      .column-#{$i} {
        width: 100%;
      }
    }
  }

  .hide-mobile, .hide-mobile-inline {
    display:none;
  }

  .info-bit .logos {
    width: auto;
  }

  .header {
    text-align: center;
    .center {
      display:none;
    }
  }
  .hero {
    h1 {
      margin:20px auto 0;
    }
  }

}

@media #{$mobile-portrait} {

}

@media #{$mobile-landscape} {

}
