// ==========================================================================
// Grid Settings
// ==========================================================================

// grid settings
$grid-columns: 12;
$grid-max-width: 75em;

// full width settings
$full-width-mobile: true;
$full-width-tablet-portrait: true;
