// ==========================================================================
// Variable Config
// ==========================================================================

// page-bg
$page-bg: #efefef;

// fonts
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$dorsa: 'Dorsa', sans-serif;
$gotham: 'gotham', sans-serif;
$source: 'Source Code Pro';
$default-font: 'Helvetica Neue',Helvetica,Arial,sans-serif;

// font sizes
$fsz-base: 14px !default;
$fsz-small: 10px !default;
$fsz-large: 22px !default;
$fsz-button: 28px !default;
$fsz-huge: 58px !default;


// photo grid
$photo-columns: 4;
$photo-max-width: 75em;

// path to assets
$path-img: "/images";
