div.dashboard-header.row
  div.column-4
    h1 {{UserState.devices.length}}
    h2
      i.fa.fa-plug &nbsp; devices
  div.column-4
    h1 1
    h2
      i.fa.fa-users &nbsp; public
  div.column-4
    h1 {{UserState.devices.length}}/{{maxKeys}}
    h2
      i.fa.fa-key &nbsp; api keys

div.column-12.alert
  p.info You have used a maximum of 10 devices at once. Please purchase another batch of 10 for just $2.00. It helps us keep the lights on.
    a(href="#" ui-sref="buy-key" class="btn btn-sm btn-purple") Buy More
