div.sidebar
  a(href="" ui-sref="dashboard")
    img(src="/assets/images/logo-sm.png" alt="" class="logo")
  ul
    li
      h2 my devices
        a(href="" ui-sref="new-device" class="add")
          i(class="fa fa-plus-square") &nbsp; add
      ul
        li(ng-repeat="d in UserState.devices")
          a(href="#" ng-click="UserState.editDevice(d)")
           i(class="fa fa-plug")
            | &nbsp; {{d.name}}

    //- li.separate
    //-   a(href="#" ui-sref="marketplace")
    //-     i(class="fa fa-credit-card")
    //-      | &nbsp; marketplace
    li.separate
      a(href="#" ui-sref="home" ng-click="UserState.logout()")
        i(class="fa fa-sign-out")
         | &nbsp; logout
