div.sidebar
  a(href="" ui-sref="dashboard")
    img(src="assets/images/logo-sm.png", alt="" class="logo")
  ul
    li
      h2 my devices
      ul
        li
          a(href="#") 
           i(class="fa fa-plug")
            | &nbsp; bathroom
        li
          a(href="#") 
           i(class="fa fa-plug")
            | &nbsp; weather
        li
          a(href="#") 
           i(class="fa fa-plug")
            | &nbsp; shit
            
    li.separate
      a(href="#" ui-sref="marketplace") 
        i(class="fa fa-credit-card")
         | &nbsp; marketplace
    li
      a(href="#" ui-sref="home") 
        i(class="fa fa-sign-out")
         | &nbsp; logout

div.dashboard-content
  h1 dashboard
  p tis the content bruh
  
    
