div.hero
  h1 we connect your hardware to the internet.
  div.get-started
    a(href="#" class="btn btn-white") get started
    
    
div.info-bit
  h1 seamlessly connect any iot device in minutes
  h2 easily create widgets to use on your own
  h2 or sell on the beepboop marketplace
  div.row.logos
    div.column-3
      img(src="assets/images/venmo.png" alt="" class="img-fluid")
    div.column-3
      img(src="assets/images/twitter.png" alt="" class="img-fluid")
    div.column-3
      img(src="assets/images/twilio.png" alt="" class="img-fluid")
    div.column-3
      img(src="assets/images/battlehack.png" alt="" class="img-fluid")
  

div.featured-widgets
  h1 marketplace
  div(class="widget column-4" style="background-image:url('https://static.pexels.com/photos/6393/red-woman-girl-brown.jpg')")
  div(class="widget column-4" style="background-image:url('https://static.pexels.com/photos/6966/abstract-music-rock-bw.jpg')")
  div(class="widget column-4" style="background-image:url('https://static.pexels.com/photos/5771/leaf-spring-leaves-young.jpg')")
  div(class="column-12")
    a(href="#" class="btn block btn-purple") More
