div.hero
  h1 we connect your hardware to the internet.
  //- h1 a powerful bridge from your device to any API
  div.get-started
    a(href="#" ui-sref="login" class="btn btn-white") get started
    
    
div.info-bit
  h1 connect an iot device to an API in minutes
  //- h2 
  div.row.logos
    div.column-2
      img(src="assets/images/braintree.png" alt="" class="img-fluid")
    div.column-2
      img(src="assets/images/heroku.png" alt="" class="img-fluid")
    div.column-2
      img(src="assets/images/twitter.png" alt="" class="img-fluid")
    div.column-2
      img(src="assets/images/twilio.png" alt="" class="img-fluid")
    div.column-2
      img(src="assets/images/sendgrid.png" alt="" class="img-fluid")
    div.column-2
      img(src="assets/images/pusher.png" alt="" class="img-fluid")
    


div.bottom-info-bit
  div.column-3.center
    h1
      i(class="fa fa-plug")
    h1 connect
    p your iot device
  div.column-3.center
    h1
      i(class="fa fa-plus-square")
    h1 create
    p widgets for your device
  div.column-3.center
    h1
      i(class="fa fa-globe")
    h1 share
    p open source widgets
  div.column-3.center
    h1
      i(class="fa fa-code-fork")
    h1 fork
    p other users' widgets

//- div.featured-widgets
//-   h1 public widgets
//-   div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
//-     div.widget-inner
//-       h1 widget name
//-       p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
//-       a(href="#" class="btn block btn-white") buy widget
//-   div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
//-     div.widget-inner
//-       h1 widget name
//-       p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
//-       a(href="#" class="btn block btn-white") buy widget
//-   div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
//-     div.widget-inner
//-       h1 widget name
//-       p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
//-       a(href="#" class="btn block btn-white") buy widget
      
    
    
include ../partials/footer.jade
