div.hero
  h1 we connect your hardware to the internet.
  div.get-started
    a(href="#" class="btn btn-white") get started


div.featured-widgets
  h1 marketplace
  div(class="widget column-4" style="background-image:url('https://static.pexels.com/photos/6393/red-woman-girl-brown.jpg')")
  div(class="widget column-4" style="background-image:url('https://static.pexels.com/photos/6393/red-woman-girl-brown.jpg')")
  div(class="widget column-4" style="background-image:url('https://static.pexels.com/photos/6393/red-woman-girl-brown.jpg')")
