div.login
  h1 Login to beepboop
  form(action="")
    input(type="text" placeholder="Email Address")
    input(type="text" placeholder="Password")
    input(type="submit" class="btn btn-purple" value="Sign In")
