div.outer-wrapper
  div.login-wrapper

    div.login-form
      div.login-inner
        h1 sign in
        form(action="")
          input(type="email" placeholder="Email Address")
          input(type="password" placeholder="Password")
          input(type="submit" class="btn btn-purple" value="Sign In")
          
          
    div.or
      h1 or

    div.register
      div.register-inner
        h1 register
        form(action="")
          input(type="email" placeholder="Email Address")
          input(type="password" placeholder="Password")
          input(type="submit" class="btn btn-purple" value="Register")
