div.outer-wrapper
  div.login-wrapper

    div.login-form
      div.login-inner
        h1 sign in
        form(ng-submit="login($event)")
          input(type="email" placeholder="Email Address" ng-model="loginForm.username")
          input(type="password" placeholder="Password" ng-model="loginForm.password")
          input(type="submit" class="btn btn-purple" value="Sign In")
          
          
    div.or
      h1 or

    div.register
      div.register-inner
        h1 register
        form(ng-submit="signup($event)")
          input(type="email" placeholder="Email Address" ng-model="signupForm.username")
          input(type="password" placeholder="Password" ng-model="signupForm.password")
          input(type="submit" class="btn btn-purple" value="Register")
