div.featured-widgets.marketplace
  h1 marketplace
    div.filters
      select(name="")
        option Most Popular
        option Recent
  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget
  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget
  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget
      
  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget
      
  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget
      
  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget
      
  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget

  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget

  div(class="widget column-4" style="background-image:url('assets/images/example.jpg')")
    div.widget-inner
      h1 widget name
      p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      a(href="#" class="btn block btn-white") buy widget



div.poweredby
  p The Beepboop Marketplace is powered by Venmo.
