include ../partials/sidebar.jade

div.dashboard-wrapper
  include ../partials/dashboard-header.jade
  div.dashboard-content
    div.buy-form
      div.buy-inner
        h1 buy 10 more api keys
        p.info You can use a maximum of 10 devices at a time. Use this form to purchase another batch of 10 for only $2.00
        br
        h2 $2.00
        br
        form(method="post" action="/checkout")
          div#payment-form
          input(type="submit" class="btn btn-purple block md-raised" value="Buy")
          
