include ../partials/sidebar.jade

div.dashboard-wrapper
  include ../partials/dashboard-header.jade
  div.dashboard-content
    div.buy-form.thanks
      div.buy-inner
        h1 thank you!
        p.info Your payment has been received. You now have 10 more devices added to your BeepBoop account.
