include ../partials/sidebar.jade

div.dashboard-wrapper
  include ../partials/dashboard-header.jade
  div.dashboard-content
    div.featured-widgets
      //- md-grid-list(md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
      //-   md-row-height-gt-md="1:1" md-row-height="2:2"
      //-   md-gutter="12px" md-gutter-gt-sm="8px")
      //-   md-grid-tile(ng-repeat='d in UserState.devices')
      //-     inject-d(ng-init="payload = d.payload" d="d")

      //- div(class="widget column-4" style="background-image:url('/assets/images/example.jpg')")
      //-   div.widget-inner
      //-     h1 widget name
      //-     p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      //-     a(href="#" ui-sref="edit-device" class="btn block btn-white") edit widget
      //- div(class="widget column-4" style="background-image:url('/assets/images/example.jpg')")
      //-   div.widget-inner
      //-     h1 widget name
      //-     p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      //-     a(href="#" ui-sref="edit-device" class="btn block btn-white") edit widget
      //- div(class="widget column-4" style="background-image:url('/assets/images/example.jpg')")
      //-   div.widget-inner
      //-     h1 widget name
      //-     p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      //-     a(href="#" ui-sref="edit-device" class="btn block btn-white") edit widget
          
      //- div(class="widget column-4" style="background-image:url('/assets/images/example.jpg')")
      //-   div.widget-inner
      //-     h1 widget name
      //-     p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      //-     a(href="#" ui-sref="edit-device" class="btn block btn-white") edit widget
          
      //- div(class="widget column-4" style="background-image:url('/assets/images/example.jpg')")
      //-   div.widget-inner
      //-     h1 widget name
      //-     p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      //-     a(href="#" ui-sref="edit-device" class="btn block btn-white") edit widget
          
      //- div(class="widget column-4" style="background-image:url('/assets/images/example.jpg')")
      //-   div.widget-inner
      //-     h1 widget name
      //-     p measures the size of your balls. helps you party like a fucking champion. if you are awesome, this widget is for you.
      //-     a(href="#" ui-sref="edit-device" class="btn block btn-white") edit widget
    //- div.featured-widgetsul
    //-   //- li()
    //-   div(class="widget column-4" ng-repeat="d in UserState.devices"  style="background-image:url('/assets/images/example.jpg')")
    //-     div.widget-inner
    //-       h1 {{d.name}}
    //-       a(href="#" ng-click="UserState.editDevice(d)" class="btn block btn-white") edit widget
    
    div.featured-widgetsul
      div(class="widget column-4" ng-repeat="d in UserState.devices")
        div.widget-inner

          h1 {{d.name}}
          p status:
          inject-d(ng-init="payload = d.payload" d="d")
      
  
