include ../partials/sidebar.jade

div.dashboard-wrapper
  div.dashboard-header.row
    h1 dashboard
    div.column-4
      h1 5
      h2 devices
    div.column-4
      h1 5
      h2 widgets
    div.column-4
      h1 0
      h2 sold
  div.dashboard-content
    div.featured-widgetsul
      //- li()
      div(class="widget column-4" ng-repeat="d in UserState.devices"  style="background-image:url('/assets/images/example.jpg')")
        div.widget-inner
          h1 {{d.name}}
          a(href="#" ng-click="UserState.editDevice(d)" class="btn block btn-white") edit widget
      
  
