include ../partials/sidebar.jade

div.dashboard-wrapper
  div.dashboard-header.row
    div.column-4
      h1 5
      h2 
        i.fa.fa-plug &nbsp; devices
    div.column-4
      h1 1
      h2 
        i.fa.fa-users &nbsp; public
    div.column-4
      h1 2
      h2 
        i.fa.fa-code-fork &nbsp; forked
  div.dashboard-content
    
    div.featured-widgetsul
      div(class="widget column-4" ng-repeat="d in UserState.devices")
        div.widget-inner
          h1 {{d.name}}
          h2 STATUS: ONLINE
          h2 Fridge Closed 
          p (Last updated: 2 hours ago)
          br
          a(href="#" ng-click="UserState.editDevice(d)" class="btn block btn-white") view device
      
  
