md-content
  md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c6af1b2d82c1030022dc1b/payload?write=VyhEAq1i&payload=254')") LIGHT ON
  md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c6af1b2d82c1030022dc1b/payload?write=VyhEAq1i&payload=954')") LIGHT OFF
  md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c7529b5f72190300818a90/payload?write=VJn2Wrxj&payload[on_fire]=1')") BURN DOWN HOUSE
  md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c7529b5f72190300818a90/payload?write=VJn2Wrxj&payload[on_fire]=')") SAVE HOUSE
  md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c74ef6d69133030095e348/payload?write=4yPMAExs&payload=Tweeting%20live%20from%20a%20presentation%20%23BattleHack%20%40braintree_dev%20%23beepboop')") TWEET1
  md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c74ef6d69133030095e348/payload?write=4yPMAExs&payload=This%20is%20a%20seperate%20webapp%20hitting%20the%20payload%20endpoint.%20Hopefully%20makes%20it.%20%23BattleHack%20%40braintree_dev%20%23beepboop')") TWEET2