md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c6af1b2d82c1030022dc1b/payload?write=VyhEAq1i&payload=254')") LIGHT ON
md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c6af1b2d82c1030022dc1b/payload?write=VyhEAq1i&payload=954')") LIGHT OFF
md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c7529b5f72190300818a90/payload?write=VJn2Wrxj&payload[on_fire]=1')") BURN DOWN HOUSE
md-button.md-primary.md-raised(ng-click="activateLink('//www.beepboopbeepboop.com/api/devices/55c7529b5f72190300818a90/payload?write=VJn2Wrxj&payload[on_fire]=')") SAVE HOUSE