include ../partials/sidebar.jade

div.dashboard-wrapper
  div.dashboard-header
    h1 dashboard
  div.dashboard-content
    div.device-form
      div.device-inner
        h1 edit device
          a(href="" class="btn btn-sm btn-purple" ui-sref="edit-widget") edit widget
        form(ng-submit="updateDevice($event)")
          label device name
          input(type="text" placeholder="Bathroom Sensor" ng-model="device.name")
          label device key
          input(type="text" placeholder="Device Key" disabled ng-model="device._id")
          label endpoint URL
          input(type="text" placeholder="Endpoint URL" disabled ng-model="device.endpointUrl")
          label callback URL
          input(type="text" placeholder="Callback URL")
          
          h2 filters
            a(href="" class="add-filter") 
              i.fa.fa-plus-circle
          br
          p.info create conditions for your widget to function. example: if LIGHT = ON
          div.filter-item
            h2 filter 1
              a(href="")
                i.fa.fa-minus-circle
            div.column-4
              label variable
              input(type="text" placeholder="Var")
            div.column-4
              label operator
              select(name="")
                option >
                option <
                option >=
                option <=
                option =
            div.column-4
              label variable
              input(type="text" placeholder="Var")
          br
          label.center
            input(type="checkbox" checked) 
            | &nbsp; sell this widget
          label.clear Venmo Username
          input(type="text" placeholder="Venmo Username")
          br
          p.info Please enter your Venmo username in order to accept payments on the BeepBoop Marketplace.
          input(type="submit" class="btn btn-purple" value="Save")
