div.sidebar
  a(href="" ui-sref="dashboard")
    img(src="assets/images/logo-sm.png", alt="" class="logo")
  ul
    li
      h2 my devices
        a(href="" class="add")
          i(class="fa fa-plus-square") &nbsp; add
      ul
        li
          a(href="#")
           i(class="fa fa-plug")
            | &nbsp; bathroom
        li
          a(href="#")
           i(class="fa fa-plug")
            | &nbsp; weather
        li
          a(href="#")
           i(class="fa fa-plug")
            | &nbsp; shit

    li.separate
      a(href="#" ui-sref="marketplace")
        i(class="fa fa-credit-card")
         | &nbsp; marketplace
    li
      a(href="#" ui-sref="home")
        i(class="fa fa-sign-out")
         | &nbsp; logout

div.dashboard-content
  div.device-form
    div.device-inner
      h1 create new device
      form(action="")
        input(type="text" placeholder="Device Name")
        textarea(placeholder="Default Template")
        input(type="submit" class="btn btn-purple" value="Create")
