// ==========================================================================
// Load in Fonts
// ==========================================================================

@font-face {
    font-family: 'Share Tech Mono';
    src: url('/assets/fonts/ShareTechMonoTrue.eot');
    src: url('/assets/fonts/ShareTechMonoTrue.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ShareTechMonoTrue.woff') format('woff'),
         url('/assets/fonts/ShareTechMonoTrue.ttf') format('truetype'),
         url('/assets/fonts/ShareTechMonoTrue.svg#ShareTechMonoTrue') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'bank_gothicbold';
    src: url('/assets/fonts/bankgothic-bold-webfont.eot');
    src: url('/assets/fonts/bankgothic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/bankgothic-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/bankgothic-bold-webfont.woff') format('woff'),
         url('/assets/fonts/bankgothic-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/bankgothic-bold-webfont.svg#bank_gothicbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bank_gothicbold_condensed';
    src: url('/assets/fonts/bankgothic-boldcond-webfont.eot');
    src: url('/assets/fonts/bankgothic-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/bankgothic-boldcond-webfont.woff2') format('woff2'),
         url('/assets/fonts/bankgothic-boldcond-webfont.woff') format('woff'),
         url('/assets/fonts/bankgothic-boldcond-webfont.ttf') format('truetype'),
         url('/assets/fonts/bankgothic-boldcond-webfont.svg#bank_gothicbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bank_gothiclight';
    src: url('/assets/fonts/bankgothic-light-webfont.eot');
    src: url('/assets/fonts/bankgothic-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/bankgothic-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/bankgothic-light-webfont.woff') format('woff'),
         url('/assets/fonts/bankgothic-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/bankgothic-light-webfont.svg#bank_gothiclight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bank_gothiclight_condensed';
    src: url('/assets/fonts/bankgothic-lightcond-webfont.eot');
    src: url('/assets/fonts/bankgothic-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/bankgothic-lightcond-webfont.woff2') format('woff2'),
         url('/assets/fonts/bankgothic-lightcond-webfont.woff') format('woff'),
         url('/assets/fonts/bankgothic-lightcond-webfont.ttf') format('truetype'),
         url('/assets/fonts/bankgothic-lightcond-webfont.svg#bank_gothiclight_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bank_gothicmedium';
    src: url('/assets/fonts/bankgothic-medium-webfont.eot');
    src: url('/assets/fonts/bankgothic-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/bankgothic-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/bankgothic-medium-webfont.woff') format('woff'),
         url('/assets/fonts/bankgothic-medium-webfont.ttf') format('truetype'),
         url('/assets/fonts/bankgothic-medium-webfont.svg#bank_gothicmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
