div.header
  div.column-3
    a(href="" ui-sref="home")
      img(src="/assets/images/logo.png", alt="")
  div.column-7 &nbsp;
  div.column-2
    a(href="" ui-sref="login" class="signin")
      i(class="fa fa-sign-in")
